body{
    overflow-x: hidden;
}


/* Add images */
.titleland{
    padding-top: 100px;
}
/* add background image url --> img/img2/img3/4/5 */
.card__img {
    height: 192px;
    width: 100%;
    background-image: url("../img/Capture.PNG"); /*Mount Noor*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.card__img2 {
    height: 192px;
    width: 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/ar/3/38/%D8%AC%D8%A8%D9%84_%D8%AB%D9%88%D8%B1.jpg"); /*Thawr Mount*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}

.card__img3 {
    height: 192px;
    width: 100%;
    background-image: url("../img/Capture.PNG"); /*Hira Cultural District*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}
.card__img4 {
    height: 192px;
    width: 100%;
    background-image: url("../img/Capture.PNG"); /*The Mosque of Aishah*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}
.card__img5 {
    height: 192px;
    width: 100%;
    background-image: url("../img/Capture.PNG"); /*Museums*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}


/* Btn Close */
.close-land{
    font-size: 23px;
    padding: 10px;
    background-color: brown;
    width: 50px;
    border-radius: 50% 50%;
    cursor: pointer;
    position: fixed;
    top:5%;
}
.close-land i{
    margin-left: 5px;

}

/* page 1  */
.page {
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    padding: 90px 3% 100px;
    display: none;
    color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:70%;
    height:70%;
    overflow-y: auto;


}

/* page2 */
.Thawr-Mount {
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    padding: 90px 3%;
    display: none;
    color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:70%;
    height:70%;
    overflow-y: auto;
    

}


/* page3 */
.Hira {
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    padding: 90px 3%;
    display: none;
    color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:70%;
    height:70%;
    overflow-y: auto;



}


/* page4 */
.Aishah {
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    padding: 90px 3% 220px;
    display: none;
    color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:70%;
    height:70%;
    overflow-y: auto;
}

/* page5 */
.Museums {
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    padding: 90px 3% 100px;
    display: none;
    color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:70%;
    height:70%;
    overflow-y: auto;
}


/* page6 */
.Thawr-Mount p,
.Hira p,
h3 {
    color: white;
    padding: 10px 3%;
}

.img-land-page {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-page {
    width: 370px;
    height: 300px;
}

.desc {
    width: 80%;
}

.page p {
    padding: 10px 3%;
    color: #eee;
}

.page h5 {
    padding: 10px 3%;
}
.sec-land {
    position: relative;
    width: 100%;
    min-height: 100vh;

}

#main {
    overflow: hidden;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;



}

.item {
    width: 230px;
    height: 270px;
    position: absolute;
    top: 35%;
    transform: translate(0, -50%);

    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-size: cover;
    display: inline-block;
    transition: 0.7s ease;


}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.808);

}


.slide .item:nth-child(3) {
    left: 55%;

}

.slide .item:nth-child(4) {
    left: calc(55% + 245px);
}

.slide .item:nth-child(5) {
    left: calc(55% + 490px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6) {
    left: calc(55% + 735px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 85%;
    left: 20px;
    max-width: 600px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;

    display: none;
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
    background-color: rgba(27, 34, 48, 0.75);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.item:nth-child(2) .content {
    display: block;
}


.content .name {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    margin-bottom: 15px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.2s 1 forwards;
}

.content .desc {
    width: 90%;
    opacity: 0;
    animation: animate 1s ease-in-out 0.4s 1 forwards;
}

.content>button {
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.map{
    display: flex;
    justify-content: center;
}

@keyframes animate {
    from {
        opacity: 0;

        filter: blur(5px);
    }

    to {
        opacity: 1;

        filter: blur(0px);
    }
}

.button {
    width: 100%;
    text-align: end;
    position: absolute;
    bottom: 30px;
    right: 3%;
}

.button button {
    padding: 13px 30px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    margin: 0px 5px;

}

.button button i {
    font-size: 25px;

}

footer{
    margin-top: 100px;
    display:block;
}



