@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&family=El+Messiri:wght@400..700&family=Gochi+Hand&family=Honk&family=Jersey+10&family=Jersey+10+Charted&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Kufi+Arabic:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: #F6F5EF;
    font-family: Gotham-Regular, ZaridSans-Regular, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}



/* menu header & App mobile */
@media  screen and (max-width: 755px) {
    nav a{
        display:none;
    }

    header .box{
        display:none;
    }
    header .menu .box{
        display:block;
    }
  .nav-item{
      display: none;
  }
  #open,#close{
      cursor: pointer;
  }

  .show #open{
      display: block;
  }
  .menu{
      display:none;
      position: absolute;
      width: 200px;
      height: 100vh;
      right: 0%;
      top: 8%;
      background-color: rgba(0, 0, 0, 0.692);
      list-style-type: none;
      text-align: center;
      z-index: 100;
      padding-top: 50px;
      margin-top:50px;
  }
.menu a{
text-decoration: none;
font-size: 20px;
color: #eff1f6;
font-weight: 500;
font-family: "Poppins", sans-serif;
transition: 0.3s;

}
.menu li{
padding: 15px 0;
}
.menu li:hover{
background-color:#00000049 ;
cursor: pointer;

}

.nav-link{
padding: 15px 0;

}
}
@media  screen and (min-width: 755px) {
  .menu{
      display: none;
  }
  .show{
     display: none;
  }


}


/* menu end */


/* header tablet */

.lgo {
    width: 55px;
    border-radius: 10px 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3%;
    background-color: rgb(0, 0, 0);
    position:fixed;
    z-index:1000;
    width:100%;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    padding: 9px 10px;
    font-size: 17px;
    margin: 0 3px;
    color: #eff1f6;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;

}



nav a:hover {
    color: rgb(245, 172, 13);

}

.nav-item{
    text-decoration: none;
    list-style-type: none;
    color: #eff1f6;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
}
.nav-item a:hover{
    color: rgb(245, 172, 13);

}
#open,
#close{
    font-size: 25px;
    font-family: "Poppins", sans-serif;

}
#open{
    display:none;
}
#close{
    display:none;
}


/* dropdown EN/ AR */
.box select {
    background-color: #000000;
    color: white;
    padding: 12px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    cursor:pointer;
  }
  
  
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }


  
  .box select option {
    padding: 12px;
  }

  /* end Dropdown */


.sec {
    background-image: url("https://media-dev-paradym-com.s3.amazonaws.com/tours/20342/imgxlobnm.jpeg?a1e7fe19-a5b8-4382-8d14-1eea5583ecbc");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-container {
    color: rgba(255, 255, 255, 0.829);
    text-align: center;
    position: relative;
}

.text-container h1,
h2 {
    padding-top: 25%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;


}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.about {
    width: 100%;
    height: 100vh;
    padding: 30px 3%;

}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-container img {
    width: 40%;
    height: 80vh;
    border-radius: 10px 10px;
}

.about .text {
    color: rgba(0, 0, 0, 0.897);
    padding: 15px 0;
    border-bottom: solid 2px rgb(216, 158, 0);
    width: 30%;
}

.about h4 {
    color: rgba(0, 0, 0, 0.637);
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
}

/*card*/
.profile-aria {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}

.card {
    margin: 10px 10px;

    --main-color: #000;
    --submain-color: #78858F;
    --bg-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 300px;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-color);
    transition: 0.3s;
}

.card:hover {
    margin-bottom: 40px;
}

/* texts card */
.card__title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
    text-wrap: wrap;
}

.card__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
}

.card__btn {
    margin-top: 15px;
    width: 76px;
    height: 31px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    color: var(--main-color);
    background: var(--bg-color);
    text-transform: uppercase;
    transition: all 0.3s;
}

.card__btn-solid {
    background: var(--main-color);
    color: var(--bg-color);
}

.card__btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
}

.card__btn-solid:hover {
    background: var(--bg-color);
    color: var(--main-color);
}

/* about us footer */
.move {
    transform: translateY(150px);
}

.move h3 {
    padding: 10px 0;
    color: #242323;
}

#about {
    background-color: #767067;
}

.about-txt {
    font-size: 40px;
}

.img-about {
    margin-right: 30px;
}

@media screen and (max-width: 766px) {

    .move {
        transform: translateY(0px);
    }

    .move h3 {
        text-align: center;
    }

    .move h4 {
        padding: 0 20px;
    }
    .typemessage{
        font-size:14px;
    
    }

}

   /* contact us */
   textarea,.input{
    background-color: white;
    color: #1a1a1a;
}

.form {
display: flex;
flex-direction: column;
gap: 10px;
max-width: 350px;
padding: 20px;
border-radius: 20px;
position: relative;
background-color: #1a1a1a;
color: #fff;
border: 1px solid #333;

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.form-ui {
width: 100%;
justify-content: right;
display: flex;
align-items: center;
}

.form-ui label {
color: #8b8b8b;
}

.ui {
padding: 5px 5px;
margin: 10px;
color: rgb(0, 110, 255);
background-color: #e7e7e3;
border: none;
border-radius: 100px 100px 100px 100px;


}



.contact_us_2 * {
font-family: Nunito, sans-serif;
}

.contact_us_2 .text-blk {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
line-height: 25px;
}

.contact_us_2 .responsive-cell-block {
min-height: 75px;
}

.contact_us_2 input:focus {
outline-color: initial;
outline-style: none;
outline-width: initial;
}

.contact_us_2 .container-block {
min-height: 75px;
width: 100%;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
display: block;
}

.contact_us_2 .submit-btn:hover {
background-image: initial;
background-position-x: initial;
background-position-y: initial;
background-size: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: #767067;
}

.contact_us_2 .responsive-container-block {
min-height: 75px;
height: fit-content;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
margin-top: 0px;
margin-right: auto;
margin-bottom: 50px;
margin-left: auto;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

.contact_us_2 .responsive-container-block.big-container {
padding-top: 10px;
padding-right: 30px;
padding-bottom: 10px;
padding-left: 30px;
position: relative;
height: auto;
}

.contact_us_2 .responsive-container-block.container {
position: static;
min-height: 75px;
flex-direction: column;
z-index: 2;
max-width: 800px;
margin-top: 120px;
margin-right: auto;
margin-bottom: 50px;
margin-left: auto;
}

.contact_us_2 .container-block.form-wrapper {
background-color: white;
max-width: 799px;
text-align: center;
padding-top: 50px;
padding-right: 40px;
padding-bottom: 50px;
padding-left: 40px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
}

.contact_us_2 .text-blk.contactus-head {
font-size: 36px;
line-height: 50px;
font-weight: 900;
}

.contact_us_2 .text-blk.contactus-subhead {
color: #9c9c9c;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 50px;
margin-left: 0px;
}

.contact_us_2 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 26px;
margin-left: 0px;
min-height: 50px;
}

.contact_us_2 .input {
width: 96%;
height: 50px;
padding-top: 1px;
padding-right: 15px;
padding-bottom: 1px;
padding-left: 15px;
border-top-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-left-width: 2px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #eeeeee;
border-right-color: #eeeeee;
border-bottom-color: #eeeeee;
border-left-color: #eeeeee;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
font-size: 16px;
color: black;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}

.contact_us_2 .textinput {
width: 98%;
min-height: 150px;
padding-top: 20px;
padding-right: 15px;
padding-bottom: 20px;
padding-left: 15px;
border-top-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-left-width: 2px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #eeeeee;
border-right-color: #eeeeee;
border-bottom-color: #eeeeee;
border-left-color: #eeeeee;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
font-size: 16px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}

.contact_us_2 .submit-btn {
width: 40%;

background-color: #767067e1;
height: 60px;
font-size: 20px;
font-weight: 700;
color: white;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: outset;
border-right-style: outset;
border-bottom-style: outset;
border-left-style: outset;
border-top-color: #767676;
border-right-color: #767676;
border-bottom-color: #767676;
border-left-color: #767676;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
cursor: pointer;
}

.contact_us_2 .form-box {
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
}

.contact_us_2 .social-media-links {
width: 250px;
display: flex;
justify-content: space-evenly;
margin-top: 50px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
}

.contact_us_2 .link-img {
width: 30px;
height: 30px;
}

.contact_us_2 .text-blk.input-title {
text-align: left;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 10px;
font-size: 14px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 5px;
margin-left: 0px;
color: #9c9c9c;
}

.contact_us_2 ::placeholder {
color: #dadada;
}

.contact_us_2 .blueBG {
position: absolute;
width: 100%;
left: 0px;
top: 0px;
height: 300px;
background-color: #767067;
}

@media (max-width: 768px) {
.contact_us_2 .submit-btn {
    width: 100%;
}

.contact_us_2 .input {
    width: 100%;
}

.contact_us_2 .textinput {
    width: 100%;
}

.contact_us_2 .container-block.form-wrapper {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_2 .text-blk.input-title {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.contact_us_2 .responsive-container-block.container {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.contact_us_2 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_2 .text-blk.contactus-head {
    font-size: 30px;
    line-height: 40px;
}
}

@media (max-width: 500px) {
.contact_us_2 .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
}

.contact_us_2 .container-block.form-wrapper {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_2 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}

.contact_us_2 .responsive-container-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
}

.contact_us_2 .text-blk.input-title {
    font-size: 12px;
    color: #8b8b8b;
}

.contact_us_2 .responsive-container-block.container {
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.contact_us_2 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_2 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.contact_us_2 .text-blk.contactus-head {
    font-size: 26px;
    line-height: 34px;
}

.contact_us_2 .input {
    height: 45px;
}

}



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wk-desk-1 {
    width: 8.333333%;
}

.wk-desk-2 {
    width: 16.666667%;
}

.wk-desk-3 {
    width: 25%;
}

.wk-desk-4 {
    width: 33.333333%;
}

.wk-desk-5 {
    width: 41.666667%;
}

.wk-desk-6 {
    width: 50%;
}

.wk-desk-7 {
    width: 58.333333%;
}

.wk-desk-8 {
    width: 66.666667%;
}

.wk-desk-9 {
    width: 75%;
}

.wk-desk-10 {
    width: 83.333333%;
}

.wk-desk-11 {
    width: 91.666667%;
}

.wk-desk-12 {
    width: 100%;
}

@media (max-width: 1024px) {
    .wk-ipadp-1 {
        width: 8.333333%;
    }

    .wk-ipadp-2 {
        width: 16.666667%;
    }

    .wk-ipadp-3 {
        width: 25%;
    }

    .wk-ipadp-4 {
        width: 33.333333%;
    }

    .wk-ipadp-5 {
        width: 41.666667%;
    }

    .wk-ipadp-6 {
        width: 50%;
    }

    .wk-ipadp-7 {
        width: 58.333333%;
    }

    .wk-ipadp-8 {
        width: 66.666667%;
    }

    .wk-ipadp-9 {
        width: 75%;
    }

    .wk-ipadp-10 {
        width: 83.333333%;
    }

    .wk-ipadp-11 {
        width: 91.666667%;
    }

    .wk-ipadp-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wk-tab-1 {
        width: 8.333333%;
    }

    .wk-tab-2 {
        width: 16.666667%;
    }

    .wk-tab-3 {
        width: 25%;
    }

    .wk-tab-4 {
        width: 33.333333%;
    }

    .wk-tab-5 {
        width: 41.666667%;
    }

    .wk-tab-6 {
        width: 50%;
    }

    .wk-tab-7 {
        width: 58.333333%;
    }

    .wk-tab-8 {
        width: 66.666667%;
    }

    .wk-tab-9 {
        width: 75%;
    }

    .wk-tab-10 {
        width: 83.333333%;
    }

    .wk-tab-11 {
        width: 91.666667%;
    }

    .wk-tab-12 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wk-mobile-1 {
        width: 8.333333%;
    }

    .wk-mobile-2 {
        width: 16.666667%;
    }

    .wk-mobile-3 {
        width: 25%;
    }

    .wk-mobile-4 {
        width: 33.333333%;
    }

    .wk-mobile-5 {
        width: 41.666667%;
    }

    .wk-mobile-6 {
        width: 50%;
    }

    .wk-mobile-7 {
        width: 58.333333%;
    }

    .wk-mobile-8 {
        width: 66.666667%;
    }

    .wk-mobile-9 {
        width: 75%;
    }

    .wk-mobile-10 {
        width: 83.333333%;
    }

    .wk-mobile-11 {
        width: 91.666667%;
    }

    .wk-mobile-12 {
        width: 100%;
    }
}

   .footer{
background:#000;
padding:10px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3;
}

footer p {
    color: #767676;
}





