
/*section header ---------------------*/   
.sticky-top {
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 100%; /* Ensure it's on top of other content */
}
.navbar-brand{
color: white !important;
}
/* Custom CSS for white text */
.navbar-nav .nav-link {
  color: white !important;
}
.navbar{
background-color: black;
}
.dropdown-menu{
text-decoration-color:black;
background-color: #d5d1cc;
}
.dropdown-menu a:hover{
  border-radius: 8px;
  text-decoration:underline;
  background-color: #d5d1cc;
  
  }
/*end section header ---------------------*/   




     /* Custom CSS for image and text layout */
        .hero-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
          /*  background-color: white; /* Background color for the container */
             
        }


        .hero-img {
            max-width: 100%;
            max-height: 80vh;
               
        }

        .hero-text {
            text-align: center;
            padding-top: 20%;
         
            
        }


 
.hero{
    
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
}

.hero-img{
    border-radius: 20px;
    height: 600px;
    width: auto;
}

.divide-row{
    
    justify-content: space-between; /*  هذي تخلي مسافة بين العناصر اللي داخل التاق*/     
    width: 100%;
    padding: 15px 30px;
    margin: 0 !important;   
    display: flex;     
    align-items: center;
}
.second-color{
       background-color: #767067;
}

.container-edit{
margin: 0 !important;
padding: 0 !important;
max-width: 100% !important;  
    
    
}
.profile-area{
        padding:80px 0;
        
    }

    .card{
        box-shadow: 0 0 30px rgba(0,0,0.5);
            overflow:hidden;
        border-radius: 15px;
           border: solid;
    text-align:center;
    border-color: #c8c8c8;
text-decoration: none;
color: black;

   margin: 20px 0 20px 0; 
 background-color:#F6F5EF;
        

    }
    .img1 img{
        
        height:200px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        width: 100%;
    }
    
    .img2 img{
        
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        width:140px;
        height: 140px;
        border-radius: 50%;
        border:7px solid  #eae5d9 ;
        margin-top:-80px;
    }
    .card:hover .img2 img{
      border-color:#c8c8c8;
        transition:.7s  
    }
    .main-text{
        padding: 30px 0;
        text-align: center;  
    } 
    .main-text h2{
        text-transform: uppercase;
        font-weight: 900;
        font-size:20px;
        margin: 0 0 20px;
    }
    .main-text p{
     font-size: 16px;
        padding: 0 35px;
    }
    .inner-btn{
    display:none;
    text-align: center;
    padding: 70px 0; 
}
.card:hover  .inner-btn{
display:block;  
}
.fa-person-military-pointing{
     font-size: 50px;
     height: 80px;    
}
/*  
.guide-container {
           display: flex;
           padding: 0 10px;  
           border-radius:10px;
           padding: 20px;  
          height: 10px;
           margin-bottom: 30px;
        align-items: center;
           margin-right: 10px;    
       } 
/* Adjusted padding for spacing */
            
       .text {
           font-size: 13px;
           color: #000000;
           margin-right: 10px; /* Adjusted margin for spacing */
           height: 70px;
       }
   

/* Adjusted padding for spacing */


.about-row{
    
    padding-bottom: 20px;
    
    
}
    
.about-text{
    width: 600px;
}
.divide-row2{
    
    width: 1130px;
    max-width: 95%;
    margin:  auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
    .about-text h3{
    font-size: 40px;
     
        
}
.about-text h5{
    font-size: 25px;
        text-transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: floralwhite;
}

.about-text p{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: black;
        margin-bottom: 45px;
}

.base-color h1{
    padding-top:  50px;
}


/*end abouttttttttttttttttttttttttttttttttttttttttttttt*/


h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: black;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

/* add background image url --> img/img2/img3 */
            .card__img {
                height: 192px;
                width: 100%;
                background-image: url("../img/landmark1.PNG"); /*img*/
                background-repeat: no-repeat;
                background-size: cover;
        border-radius: 20px;
            }

            .card__img2 {
                height: 192px;
                width: 100%;
                background-image: url("../img/k1.PNG"); /*img2*/
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 20px;

            }

            .card__img3 {
                height: 192px;
                width: 100%;
                background-image: url("../img/mina.jpg"); /*img3*/
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 20px;

            }

            /* end background-image */

            /* avater img/img2/img3 */
            .card__avatar {
                position: absolute;
                width: 114px;
                height: 114px;
                background: var(--bg-color);
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                top: calc(50% - 57px);
                background-image: url("../img/landmark2.PNG"); /*avater*/
                background-repeat: no-repeat;
                background-size: cover;
            }

            .card__avatar2 {
                position: absolute;
                width: 114px;
                height: 114px;
                background: var(--bg-color);
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                top: calc(50% - 57px);
                background-image: url("../img/umarah2.PNG"); /*avater 2*/
                background-repeat: no-repeat;
                background-size: cover;
            }

            .card__avatar3 {
                position: absolute;
                width: 114px;
                height: 114px;
                background: var(--bg-color);
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                top: calc(50% - 57px);
                background-image: url("../img/hajj1.PNG"); /*avater 3*/
                background-repeat: no-repeat;
                background-size: cover;
            }

/*end index*/



    
    
    /*start Icon list ---------------------*/   

/*section header ---------------------*/   
.navbar-brand{
color: white !important;
}
/* Custom CSS for white text */
.navbar-nav .nav-link {
  color: white !important;
}
.navbar{
background-color: black;
}
.dropdown-menu{
text-decoration-color:black;
background-color: #d5d1cc;
}
.dropdown-menu a:hover{
  border-radius: 8px;
  text-decoration:underline;
  background-color: #d5d1cc;
  
  }
/*end section header ---------------------*/   



/*start Icon list ---------------------*/   
.container-icon{
    margin-top:40px;
    padding-top: 0px;
    
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.icon-2 {
  list-style: none;
  padding-left: 0;
 margin-top: 40px;
  font-size: 15px;
  top:10px;
  left: 0;
  text-align: center;
  padding-top: 18px;
  background-color: #F6F5EF;
  
}
.icon-2 li {
  display: inline-block;
}

.icon-2 li a {
  display: block;
  padding: 10px 26px;
  color: black;
  text-decoration: none;
}
.icon-2 li a:hover {
  background-color:#d5d1cc;
  border-radius: 8px;
  text-decoration: underline;
}

/*end Icon list ---------------------*/   
/* For small screens */

/* For larger screens */
.collapsible-container {
     margin-top: 130px;
    
}
.collapsible {
background-color:#d5d1cc;
color: black;
cursor: pointer;
padding: 10px;
width:80%;
border: #c8c8c8;;
border-radius:8px;
outline: none;
font-size: 17px;
margin-left: 10.5%; 
}
/*
.active, .collapsible:hover {
هنا لو حطيت هوفر يصير حتو الهوم هوفر
}
*/

.content {
padding: 0 18px;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #eae5d9;
border-radius:8px;
width:80%;
margin-left: 10.5%;
height: 100%;
}
.iebARE {
  font-size: 13px;
font-weight: 540;
line-height: 140%;
font-style: normal;
margin-bottom: 10px;
}
.listr li {
font-size: 13px;
line-height: 140%;
font-style: normal;
list-style: disc;
margin-bottom: 0.5rem;
    margin-right: 20px;
    
}
.text-sections {
  float: left;
  width: 100%;
}

.embed-responsive iframe {
    border-radius: 8px;  /*Adjust the value as needed */
    width:100%;
    height:230px;
    margin-bottom: 80px;
    margin-top: 40px;}
.kexixH li {
font-size: 13px;
line-height: 140%;
font-style: normal;
list-style: disc;
margin-bottom: 0.5rem;
}

    






